body {
    font-family: Helvetica, arial, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.logo {
    width: 280px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
}

.logoicon {
    width: 50px;
    height: 45px;
}

.logo.text {
    width: 250px;
    display: inline;
    color: black;
    opacity: 0.8;
}

.logocolor {
    color: gray;
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 24px;
}

.oncampus {
    display: flex;
    align-items: center;
}

.oncampusimage {
    height: 27px;
    width: 27px;
}

.oncampustext {
    width: 102px;
}

.online {
    display: flex;
    align-items: center;
}

.onlineimage {
    width: 30px;
    height: 28px;
}

.login {
    display: flex;
    align-items: center;
}

.loginimage {
    width: 24px;
    height: 24px;
}

.logintext {
    width: 125px;
}

.introduction {
    margin-top: 4em;
    background-color: #cbcbca;
    display: flex;
    align-items: center;
    gap: 24px;
}

.introimage {
    width: 60%;
    margin: 32px 24px;
}

.introimage img {
    width: 100%;

}

.introtext {
    font-size: 30px;
    opacity: 0.6;
    width: 550px;
}

.introbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 70%;
}

.information {
    margin-top: 32px;
    margin-left: 24px;
    display: flex;
}

.infoimage {
    width: 100%;
}

.infoimage img {
    width: 100%;
}

.infomain {
    width: 60%;
    margin-right: 24px;
}

.infotitle {
    margin-top: 32px;
}

.infodesc {
    margin-top: 24px;
    margin-bottom: 40px;
}

.infocards {
    width: 40%;
}

.icard1 {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.icard1image {
    width: 35%;
    margin: 16px;
}

.icard1image img {
    width: 100%;
    height: auto;
}

.icard1text {
    width: 65%;
}

.icard1text h2 {
    margin-bottom: 0;
}

.icard1text p {
    margin-top: 8px;
}

.icard2 {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.icard2image {
    width: 35%;
    margin: 16px;
}

.icard2image img {
    width: 100%;
    height: auto;
}

.icard2text {
    width: 65%;
}

.icard2text h2 {
    margin-bottom: 0;
}

.icard2text p {
    margin-top: 8px;
}

.icard3 {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.icard3image {
    width: 35%;
    margin: 16px;
}

.icard3image img {
    width: 100%;
    height: auto;
}

.icard3text {
    width: 65%;
}

.icard3text h2 {
    margin-bottom: 0;
}

.icard3text p {
    margin-top: 8px;
}

.learning {
    background-color: lightgray;
    margin-top: 32px;
    padding-bottom: 32px;
}

.ltitle {
    text-align: center;
    width: 100%;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ltitle h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.lcards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 72px;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 32px;
}

.lcard1 {
    background-color: white;
}

.lcard1image {
    height: auto;
}

.lcard1text {
    margin: 16px;
}

.lcard2 {
    background-color: white;
}

.lcard2image {
    height: auto;
}

.lcard2text {
    margin: 16px;
}

.lcard3 {
    background-color: white;
}

.lcard3image {
    height: auto;
}

.lcard3text {
    margin: 16px;
}

.lcard4 {
    background-color: white;
}

.lcard4image {
    height: auto;
}

.lcard4text {
    margin: 16px;
}

.lcard5 {
    background-color: white;
}

.lcard5image {
    height: auto;
}

.lcard5text {
    margin: 16px;
}

.lcard6 {
    background-color: white;
}

.lcard6image {
    height: auto;
}

.lcard6text {
    margin: 16px;
}

.ttitle {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.tvideo video {
    width: 100%;
}

.tmain {
    margin: 0 24px;
    width: 60%;
}

.ttext h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}

.ttext p {
    margin-bottom: 32px;
}

.tcontent {
    display: flex;
}

.tcards {
    width: 40%;
}

.tcard1 {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.tcard1image {
    width: 35%;
    margin: 16px;
}

.tcard1image img {
    width: 100%;
    height: auto;
}

.tcard1text {
    width: 65%;
}

.tcard1text h2 {
    margin-bottom: 0;
}

.tcard1text p {
    margin-top: 8px;
}

.tcard2 {
    display: flex;
    align-items: center;
}

.tcard2image {
    width: 35%;
    margin: 16px;
}

.tcard2image img {
    width: 100%;
    height: auto;
}

.tcard2text {
    width: 65%;
}

.tcard2text h2 {
    margin-bottom: 0;
}

.tcard2text p {
    margin-top: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.cr {
    margin-left: 24px;
}

.terms {
    margin-right: 24px;
}

@media only screen and (max-width: 500px) and (max-height: 950px) {

    body {
        width: 100%;
    }

    nav {
        width: 430px;
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: auto;
        gap: 75px;
        margin-right: 64px;
    }

    .logo {
        width: 50px;
    }

    .oncampus {
        width: 27px;
    }

    .login {
        width: 28px;
    }

    nav h3,
    nav h2 {
        display: none;
    }

    .introduction {
        display: block;
        width: 430px;
        padding-bottom: 32px;
    }

    .introimage {
        width: 430px;
        margin-left: 0;
    }

    .introheader {
        margin-left: 16px;
        font-size: 0.7em;
    }

    .introdesc {
        margin-left: 16px;
        font-size: 0.7em;
    }

    .introbutton {
        margin-left: 16px;
        padding-right: 13px;
        margin-top: 24px;
    }

    .infomain {
        display: none;
    }

    .information {
        display: block;
        margin-left: 0;
    }

    .infocards {
        width: 100%;
    }

    .icard1 {
        display: inline-block;
        border: 0;
        width: 100%;
        
    }

    .icard1image {
        background-image: url('../images/information-orientation-mobile.jpg');
        margin-left: 0;
        width: 100%;
        height: 154px;
        margin-right: 0;
    }

    .icard1text {
        margin-left: 16px;
    }

    .icard1image img {
        display: none;
        width: 100%;
        height: 100%;
    }

    .icard2 {
        display: block;
        border: 0;
    }

    .icard2image {
        background-image: url('../images/information-campus-mobile.jpg');
        margin-left: 0;
        width: 100%;
        height: 154px;
    }

    .icard2text {
        margin-left: 16px;
    }

    .icard2image img {
        display: none;
        width: 100%;
        height: 100%;
    }

    .icard3 {
        display: block;
        border: 0;
        background-color: white;
    }

    .icard3image {
        background-image: url('../images/information-guest-lecture-mobile.jpg');
        margin-left: 0;
        width: 100%;
        height: 154px;
    }

    .icard3text {
        margin-left: 16px;
    }

    .icard3image img {
        display: none;
        width: 100%;
        height: 100%;
    }

    .learning {
        background-color: white;
    }

    .ltitle {
        font-size: 1.5em;
    }

    .lcards p {
        display: none;
    }

    .lcards h3 {
        font-size: 1.7em;
    }

    .lcards {
        margin: 0 0;
    }

    .lcard1,
    .lcard2,
    .lcard3,
    .lcard4,
    .lcard5,
    .lcard6 {
        background-color: lightgray;
        width: 100%;
        margin: 0 16px;
    }

    .learning img {
        display: none;
    }

    .ttitle {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    .tdesc {
        display: none;
    }

    .tcards {
        display: none;
    }

    .tmain {
        width: 100%;
        margin: 0;
    }

    .tvideo {
        height: 100%;
        margin-bottom: 24px;
    }

    .terms {
        display: none;
    }

    .cr {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 720px) and (max-height: 950px) {
    
        body {
            width: 100%;
        }
    
        nav {
            width: 720px;
            display: flex;
            justify-content: space-between;
        }
    
        .buttons {
            display: flex;
            justify-content: space-between;
            width: auto;
            gap: 180px;
            margin-right: 64px;
        }
    
        .logo {
            width: 50px;
        }
    
        .oncampus {
            width: 27px;
        }
    
        .login {
            width: 28px;
        }
    
        nav h3,
        nav h2 {
            display: none;
        }

        .introduction {
            display: block;
            padding-bottom: 8px;
        }

        .introtext {
            width: 100%;
            text-align: center;
        }

        .introbutton {
            display: none;
        }

        .introimage {
            margin: 0;
            width: 100%;
        }

        .infomain {
            display: none;
        }

        .infocards {
            width: 100%;
        }

        .icard1,
        .icard2,
        .icard3 {
            border: 0;
            background-color: white;
            display: block;
            width: 20;
        }

        .infocards {
            display: flex;
            justify-content: space-between;
            gap: 10%;
        }

        .icard1image,
        .icard2image,
        .icard3image,
        .icard1image img,
        .icard2image img,
        .icard3image img {
            margin: 0;
            width: 100%;
        }

        .icard3 {
            margin-right: 23px;
        }
}